{% for flashMessage in app.session.flashbag.get('alertadd') %}
    <div class="container">
        <div class="alert alert-success" role="alert">
        <div class="container">
         <span class="glyphicon glyphicon-ok"></span> {{ flashMessage }}
        </div>
      </div>
    </div>

{% endfor %}        
         
{% for flashMessage in app.session.flashbag.get('alertdang') %}
    
    <div class="container">
        <div class="alert alert-danger" role="alert">
        <div class="container">
         <span class="glyphicon glyphicon-ok"></span> {{ flashMessage }}
        </div>
      </div>
    </div>
         
         
{% endfor %}


{% for flashMessage in app.session.flashbag.get('alertedit') %}
    
    <div class="container">
        <div class="alert alert-info" role="alert">
        <div class="container">
         <span class="glyphicon glyphicon-ok"></span> {{ flashMessage }}
        </div>
      </div>
    </div>
         
         
{% endfor %}
