{% extends 'layout.html.twig' %}


{% block body %}

{{ parent() }}


<div class=container>
  <div class='row'>
  
    <h2> hola mundo esta es mi segunda prueba </h2>

  
    <div class="col-md-12"> p hola mundo </div>
    
     <hr>
    
    <div class="col-md-4"> p hola mundo </div>
    <div class="col-md-4"> p hola mundo </div>
    <div class="col-md-4"> p hola mundo </div>
    
  </div>
</div>

{% endblock %}