{% extends "layout.html.twig" %}

{% block body %}
   
    {{ parent() }}
    
   <div class="bajar1"> 
    <h1> Welcome 
    
        {% if app.user.role == 'ROLE_ADMIN' %}
          Administrator
        {% elseif app.user.role == 'ROLE_USER' %}
          User
        {% elseif app.user.role == 'ROLE_SUADMIN' %}
           Super Admin 
         {% endif %}
            -- --
{{ app.user.username }}


        
    </h1> 


que pasasa llave que buscas
   </div>
    
{% endblock %}